#app{
background-color:black;

transform: rotateX('180');
object-fit: fill;
padding-top: 20px;
opacity: 100%;

}
#jumboTron{
    color: aliceblue;
}
.card{
    margin-left: 10px;
    margin-right: 10px;
    opacity: 90%;
    word-wrap: break-word;
   
}
#navegador{
    justify-content: end;
    opacity: 80%;
    text-decoration: aliceblue;
}
footer{
    background-color:lightgray;
    opacity: 70%;
    margin-top: 30px;
    height: 200px;
}

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
